.topbarWrapper {
  display: flex;
  height: 55px;
  padding: 0 30px;
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    45deg,
    #ee0979,
    #ff6a00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    45deg,
    #ee0979,
    #ff6a00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topbarLeft {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.topbarCenter {
  flex: 4;
}

.topbarRight {
  flex: 4;
}
